* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}

body {

    background-color: #222;
}

.card {

    width: 90%;
    max-width: 470px;
    background-image: linear-gradient(135deg, #4746aa, #1074a1);
    color: #fff;
    margin: 100px auto 20px;
    padding: 40px 35px;
    text-align: center;
    border-radius: 10px;


}

.card-head {

    font-size: 30px;
    text-align: left;
    margin-bottom: 10px;
}

.card .search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card .search input {

    flex: 1;
    border: none;
    outline: none;
    background: #ebfffc;
    color: #555;
    height: 50px;
    padding: 10px 25px;
    margin-right: 16px;
    font-size: 16px;
    border-radius: 10px;

}

.card .search button {
    border: none;
    outline: none;
    background: #ebfffc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;


}

.card .search button img {
    width: 16px;


}

.weather .weather-icon {

    width: 150px;
    margin-top: 30px;

}

.weather h1 {

    font-size: 42px;
    font-weight: 500;

}

.weather h2 {

    font-size: 32px;
    font-weight: 500;
    margin-top: -5px;

}

.weather .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 30px;

}

.weather .details .col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.col .humidity,
.wind {
    font-size: 22px;
    margin-top: -9px;
}

.error {
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
    color: red;
    display: none;
}

.weather {

    display: none;
}


.main {

    font-size: 12px;
    margin-bottom: 10px;
}